@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Mona Sans", sans-serif;
}

:root {
  --color-primary: #d53f41;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter: #f5f0ec;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.html {
  font-size: 62.5%;
}

.bg3 {
  background-image: url(../public/img/Group\ 29.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  margin-bottom: 12px;
}


.wrapper {
  margin: 0 5vw;
}

section {
  padding: 6vw 0;
}
.section-title {
  font-family: "Syncopate", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: var(--color-primary);

  padding-bottom: 5vw;
}

.m-h-100vh {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  font-family: "Syncopate", sans-serif;

  font-size: 1.5rem;
  text-transform: lowercase;
}

.links,
.blog-link {
  font-weight: 700;
}

.links a,
.blog-link a {
  color: var(--color-dark);
  position: relative;
}
.links a::after,
.blog-link a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.links a:hover::after,
.blog-link a:hover::after {
  width: 120%;
}

.logo a {
  color: var(--color-darker);
}

.hero {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10vw;
  line-height: 1.2;
  min-height: 100vh;
  color: var(--color-darker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ethereal {
  position: relative;
}

.canvas {
  position: relative;
}

.ethereal span,
.canvas span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2E3D32;
}
.photos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.one {
  grid-column: 2;
  grid-row: 5;
}

.two {
  grid-column: 7;
  grid-row: 4;
}

.three {
  grid-column: 5;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 3;
}

.five {
  grid-column: 1;
  grid-row: 2;
}

.features {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  gap: 10rem;
}

.features-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.features img {
  width: 100%;
}

.features-left,
.features-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.feature-shutter-left,
.feature-shutter-right {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #2E3D32;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about p {
  font-size: 3vw;
  text-align: justify;
  line-height: 1.5;
}

.about p:last-child {
  margin-top: 3vw;
}

.gallery .section-title {
  margin-left: 5vw;
}

.gallery-wrapper {
  background-color: #2E3D32;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10vw;
  padding: 10vw;
}

.gallery-item {
  position: relative;
  width: 50%;
}

.gallery-item-title {
  position: absolute;
  top: 10%;
  left: -50%;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 8vw;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-lighter);
  z-index: 1;
  mix-blend-mode: color-dodge;
}

.gallery-item-category {
  position: absolute;
  left: 0;
  bottom: -5%;
  text-transform: uppercase;
  color: var(--color-lighter);
  letter-spacing: 10px;
  z-index: 1;
}

.gallery-item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.footer {
  text-align: center;
}

.footer h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 10vw;
  text-transform: lowercase;
  color: var(--color-primary);
}

.not-found {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  column-gap: 5vw;
  row-gap: 1vw;
  padding: 5vw 0;
}
.headline-1,
.headline-2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 8vw;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}
.img-1,
.img-2 {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.img-1 img,
.img-2 img {
  display: block;
  width: 100%;
}
.img-2 {
  justify-self: self-end;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  gap: 1rem;
}

.blog-photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  transition: 2s;
}
.blog-content {
  position: relative;
}

.blog-content:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.blog-content:nth-child(2) {
  grid-column: 1/3;
  grid-row: 3;
}
.blog-content:nth-child(3) {
  grid-row: 1/4;
}
.blog-content:nth-child(4) {
  grid-column: 4/6;
}
.blog-content:nth-child(5) {
  grid-column: 4/6;
  grid-row: 2/4;
}
.blog-text,
.blog-three-text {
  position: absolute;
  z-index: 1;

  background-color: var(--color-primary);
  color: var(--color-lighter);
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  transition: 1s;
}

.blog-text h4,
.blog-three-text h4 {
  font-size: 2vw;
}
.blog-text p,
.blog-three-text p {
  font-size: 1vw;
}

.blog-content:hover .blog-photo {
  filter: brightness(0.2);
}

.blog-content:hover .blog-text {
  transform: translate(0%, -50%);
  opacity: 1;
}
.blog-content:hover .blog-rotate-text {
  transform: rotate(90deg) translate(-100%, 0);
  transform-origin: bottom left 0;
  width: 271%;
  opacity: 1;
}








.bgg11{
  background-image: url(../src/assets/mainbg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.bm {
  background-image: url(../src/assets/mm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 152px;
}

.bm1 {
  background-image: url(../src/assets/imag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
}


.bg2 {
  background-image: url(../src/assets/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 152px;
}
.bgg3 {
  background-image: url(../src/assets/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg4 {
  background-image: url(../src/assets/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg5 {
  background-image: url(../src/assets/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg6 {
  background-image: url(../src/assets/bg5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg7 {
  background-image: url(../src/assets/bg6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg8 {
  background-image: url(../src/assets/bg7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bg3{
  background-image: url(../src/assets/Group\ 29.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}


.bg1{
  background-image: url(../src/assets/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}







@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}

@layer utilities {
  .border-hsla {
    @apply border border-white/20;
  }

  .nav-hover-btn {
    @apply relative ms-10 font-general text-xs uppercase text-[#fff] after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-white after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-[#5d936b] rounded-lg border ;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  }

  .hero-heading {
    @apply uppercase font-zentry font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[9rem];
  }

  .about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-circular-web text-lg md:max-w-[34rem];
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[6rem];
  }

  .animated-word {
    @apply special-font font-zentry font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .bento-tilt_1 {
    @apply relative border-hsla col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-tilt_2 {
    @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-title {
    @apply uppercase md:text-6xl text-4xl font-black font-zentry;
  }

  .story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }

  .gallery-img-container {
    @apply size-64 overflow-hidden bg-violet-300;
  }

  .gallery-img {
    @apply size-full bg-cover;
  }

  .gallery-img-4 {
    @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
  }

  .sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
  }

  .contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
  }

  .contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
  }
}

.indicator-line {
  @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }

  50% {
    height: 16px;
    transform: translateY(-4px);
  }

  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* From Uiverse.io by G4b413l */
/* https://uiverse.io/G4b413l/tidy-walrus-92 */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}



body {
  overflow-x: hidden;
  background-image: url('/bg.jpg');
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
